<%- include('../layouts/user/userheader.ejs') -%>



 
<body class="goto-here">
  <% if(typeof userData !== "undefined"){ %>
    <%-include('login_nav') %>
  <%}else{%>
    <%- include('not_logged_nav') %>
  <%}%>
<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
        <h1 class="mb-0 bread">Products</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <h2 style="color: #82ae46;"><%=category.category %></h2>
        <br><br>
<div class="row">
  <%if(product.length>0)  {%>
    <%for(let i=0;i <product.length; i++){%>
  <div class="col-md-6 col-lg-3 ftco-animate">
    <div class="product">
      <a href="/productView?id=<%=product[i]._id%>" class="img-prod"><img class="img-fluid" src="images/<%=product[i].images[0]%>" alt="Colorlib Template">
        <span class="status">30%</span>
        <div class="overlay"></div>
      </a>
      <div class="text py-3 pb-4 px-3 text-center">
        <h3><a href="#"><%=product[i].productName%></a></h3>
        <div class="d-flex">
          <div class="pricing">
            <p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">Rs.<%=product[i].price%></span></p>
          </div>
        </div>
        <div class="bottom-area d-flex px-3">
          <div class="m-auto d-flex">
            <!-- <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
              <span><i class="ion-ios-menu"></i></span>
            </a> -->
            <a href="/addToCart?id=<%=product[i]._id%>" class="buy-now d-flex justify-content-center align-items-center mx-1">
              <span><i class="ion-ios-cart"></i></span>
            </a>
            <a href="#" class="heart d-flex justify-content-center align-items-center ">
              <span><i class="ion-ios-heart"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%}%>
  <%}else{%>
    <h3 class="product-title">NO PRODUCTS EXISTS</h3>
    <% } %>
</div>
</div>
</div>
</div>
</section>
<%- include('../layouts/user/userfooter.ejs') -%>
