<%- include('../layouts/user/userheader.ejs') -%>

<style>
  .tyu{
    background-image: url('images/bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 200px rgba(0,0,0,0.5);
  }
  
  .main {
    max-width: 100%;
    padding: 20px;
    background-size: cover;
  }

  .profile {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profile h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #82ae46;
    text-shadow: 1px 1px 1px #000;
  }

  .form-group {
    margin-bottom: 20px;
    display: flex;
  flex-direction: row;
  align-items: center;
  }

  .label {
    font-weight: bold;
    flex: 1;
  padding-right: 10px;
  text-align: right;
  }
  .form-group .input-group {
  flex: 2;
}

  .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-control:focus {
    border-color: #82ae46;
    box-shadow: 0 0 0 0.2rem rgba(130, 174, 70, 0.25);
    outline: none;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #82ae46;
    border-color: #82ae46;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
  }

  .btn:hover {
    color: #fff;
    background-color: #6e9740;
    border-color: #6e9740;
    text-decoration: none;
  }
</style>

<body class="goto-here">
  <% if(typeof userData !== "undefined"){ %>
    <%-include('login_nav') %>
  <%}else{%>
    <%- include('not_logged_nav') %>
  <%}%>
  
  <section class="tyu">
  
  <div class="container main"  style="width: 800px" >
    <div class="profile"  style="width: 800px">
      <h1 style="color: #82ae46;">EDIT ADDRESS</h1>
      <form action="" method="POST">
        <div class="form-group">
          <label class="label" for="houseName">House Name/Number:</label>
          <div class="input-group">
          <input class="form-control" type="text" name="houseName" required value="<%= address.address[0].houseName %>">
        </div>
        </div>
    
        <div class="form-group">
          <label class="label" for="street">Street:</label>
          <div class="input-group">
          <input class="form-control" type="text" name="street" required value="<%=address.address[0].street %>">
          </div>
           <input class="form-control" type="hidden" name="user_id" value="<%= userData._id %>"> 
        </div>
         <div class="form-group">
          <label class="label" for="landmark">Landmark:</label>
          <div class="input-group">
          <input class="form-control" type="text" name="landmark" >
          </div>
        </div> 
        <div class="form-group">
          <label class="label" for="city">City:</label>
          <div class="input-group">
          <input class="form-control" type="text" name="city" required value="<%=address.address[0].city %>">
          </div>
        </div>
      
        <div class="form-group">
          <label class="label" for="pincode">Pin Code:</label>
          <div class="input-group">
          <input class="form-control" type="text" name="pincode"  required value="<%= address.address[0].pincode %>">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">UPDATE ADDRESS</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a  href="/user-profile"> <button class="btn btn-primary">BACK</button></a>
      </form>
    </div>
  </div>
</section>



<%- include('../layouts/user/userfooter.ejs') -%>