<%- include('../layouts/user/userheader.ejs') -%>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- Include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

<!-- Include SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>




<body class="goto-here">
  <% if(typeof userData !== "undefined"){ %>
    <%-include('login_nav') %>
  <%}else{%>
    <%- include('not_logged_nav') %>
  <%}%>
	<style>
		.zoom-image-container {
			
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
		}
		
		.zoom-image {
			
			position: relative;
			
		}
		
		.zoom-image img {
			
			cursor: zoom-in;
			
			
			box-shadow: 0 18px 5px -15px rgba( 0, 0, 0, .5 );
			
		}
		
		/* zoom */
		.zoom-image-container {
		
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		}
		
		.zoom-image {
		
		position: relative;
		
		}
		
		.zoom-image img {
		
		cursor: zoom-in;
		
		
		box-shadow: 0 18px 5px -15px rgba( 0, 0, 0, .5 );
		
		}
		
		.hover-image {
		
		position: absolute;
		width:250px;
		height: 200px;
		
		border-radius: 10%;
		
		transform: translate( -0%, -20% );
		
		pointer-events: none;
		
		box-shadow: 0 0 10px rgba( 0, 0, 0,.1)
		
		}
		
			</style>


    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
            <h1 class="mb-0 bread">Product Single</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				
							<div  id="product-carousel" class="carousel slide " data-ride="carousel" >
								<ol class="carousel-indicators">
									<li data-target="#product-carousel" data-slide-to="0" class="active"></li>
									<li data-target="#product-carousel" data-slide-to="1"></li>
									<li data-target="#product-carousel" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner" style="border-radius: 1.2rem;">
									<div class="carousel-item active " >
										<div class=" item zoom-image" data-image="images/<%=product.images[0]%>">
										<img class="" style="width: 700px;height:auto; " src="images/<%=product.images[0]%>" alt="">
									</div>
								</div>
									
									<div class="carousel-item" style="border-radius: 1.2rem;">
										<div class="item zoom-image" data-image="images/<%=product.images[1]%>">
										<img class="d-block image" style="width: 700px;height:auto;" src="images/<%=product.images[1]%>" alt="">
									</div>
									</div>
									
									<div class="carousel-item" style="border-radius: 1.2rem;">
										<div class="item zoom-image" data-image="images/<%=product.images[1]%>">
										<img class="d-block image" style="width: 700px;height:auto;" src="images/<%=product.images[2]%>" alt="">
									</div>
									</div>
									
								</div>
								<a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3><%=product.productName%></h3>
    			
    				<p class="price"><span>Rs.<%=product.price%></span></p>
    				<p><%=product.description%>
						</p>
						<div class="row mt-4">
							
							<div class="w-100"></div>
							
	          	<div class="w-100"></div>
	          	<div class="col-md-12">
	          		<p style="color: #000;">Availability : <%=product.stock%></p>
	          	</div>
          	</div>
						<%if(product.stock > 0)  {%>
          	<a onclick="addtocart('<%= product._id %>',event)" class="btn btn-black py-3 px-5">Add to Cart</a>
						<%}else{%>
							<a class="text-decoration-none text-danger " href=""><strong>Out of stock</strong></a>
							<%}%> <br>
							<a href="/shop">BACK</a>
    			</div>
					

    		</div>
    	</div>
    </section>
		<script>
function changeImage(element) {

var main_prodcut_image = document.getElementById('main_product_image');
main_prodcut_image.src = element.src;

}


		
		jQuery(document).ready(function ($) {

$('.zoom-image img').click(function (event) {
	var ix = $(this).offset().left;
	var iy = $(this).offset().top;
	console.log(ix + '-' + iy);

	var mx = event.pageX;
	var my = event.pageY;
	console.log(mx + '-' + my);
})

$('.zoom-image img').hover(function () {

	var img = $(this).attr('src');

	$(this).after("<div class='hover-image' style='background-image: url(" + img + "); background-size: 300px;'></div>");

	$(this).mousemove(function (event) {

		// Mouse Position
		var mx = event.pageX;
		var my = event.pageY;

		// Image Position
		var ix = $(this).offset().left;
		var iy = $(this).offset().top;

		// Mouse Position Relavtive to Image
		var x = mx - (ix);
		var y = my - (iy);

		// Image Height and Width
		var w = $(this).width();
		var h = $(this).height();

		// Mouse Position Relative to Image, in %
		var xp = (-x / w) * -100;
		var yp = (-y / h) * -100;

		$(this).parent().find('.hover-image').attr('style',

			"background-image: url(" + img + "); background-size: 1000px; background-repeat: no-repeat; background-position: " + xp + "% " + yp + "%; top: " + y + "px; left: " + x + "px;");

	});

}, function () {

	$(this).parent().find('.hover-image').remove();

});

});












					function addtocart(productId) {
    event.preventDefault();
    fetch('/addToCart',{
        method:'POST',
        headers:{
            "Content-Type": "application/json"
        },
        body:JSON.stringify({
            productId:productId
        })
    })
    .then(() => {
        let alertMessage = document.createElement("div");
        alertMessage.innerText = "Product has been added to your cart.";
        alertMessage.style.position = "fixed";
        alertMessage.style.top = "10px";
        alertMessage.style.right = "10px";
        alertMessage.style.background = "black";
        alertMessage.style.padding = "10px";
        alertMessage.style.borderRadius = "5px";
        alertMessage.style.zIndex = "9999";
        document.body.appendChild(alertMessage);
        setTimeout(() => {
            alertMessage.style.display = "none";
        }, 3000);
    })
    .catch(error => console.error(error))
}

		</script>
	
    
		<%- include('../layouts/user/userfooter.ejs') -%>