<%- include('../layouts/user/userheader.ejs') -%>



 
<body class="goto-here">
  <% if(typeof userData !== "undefined"){ %>
    <%-include('login_nav') %>
  <%}else{%>
    <%- include('not_logged_nav') %>
  <%}%>

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
						<ul class="product-category">
    					<li><a href="#" class="active">All</a></li>
						<%if(category.length>0)  {%>
							<%for(let i=0;i <category.length; i++){%>
    					<li><a href="/categorySelection?id=<%=category[i]._id%>"><%=category[i].category %></a></li>
    				
						<%}%>
						<%}else{%>
							<h3 class="product-title">NO CATEGORY EXISTS</h3>
							<% } %>
							
						</ul>
    			</div>
    		</div>
				<form class="form-inline">
					<div class="input-group">
						<input class="form-control" type="search" placeholder="Search" name="search">
						 <div class="input-group-append"> 
							<button style="background-color: #82ae46; border: none; color: white;" type="submit">SEARCH</button>
						</div>
					</div>
				</form>
				<br>
    		<div class="row">
					<% let outOfStockProducts = []; %>
					<% for(let i=0; i<product.length; i++) { %>
							<% if(product[i].stock > 0) { %>
									<div class="col-md-6 col-lg-3 ftco-animate">
											<div class="product">
													<a href="/productView?id=<%=product[i]._id%>" class="img-prod">
															<img class="img-fluid" src="images/<%=product[i].images[0]%>" alt="Colorlib Template">
															
															<div class="overlay"></div>
													</a>
													<div class="text py-3 pb-4 px-3 text-center">
															<h3><a href="#"><%=product[i].productName%></a></h3>
															<div class="d-flex">
																	<div class="pricing">
																			<p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">Rs.<%=product[i].price%></span></p>
																	</div>
															</div>
															<div class="bottom-area d-flex px-3">
																	<div class="m-auto d-flex">
																			<a onclick="addtocart('<%= product[i]._id %>',event)" href="" class="buy-now d-flex justify-content-center align-items-center mx-1">
																					<span><i class="ion-ios-cart"></i></span>
																			</a>
																			<a href="/addToWishlist" class="heart d-flex justify-content-center align-items-center ">
																					<span><i class="ion-ios-heart"></i></span>
																			</a>
																	</div>
															</div>
													</div>
											</div>
									</div>
							<% } else { %>
									<% outOfStockProducts.push(product[i]); %>
							<% } %>
					<% } %>
					<% for(let i=0; i<outOfStockProducts.length; i++) { %>
							<div class="col-md-6 col-lg-3 ftco-animate">
									<div class="product">
											<a href="/productView?id=<%=outOfStockProducts[i]._id%>" class="img-prod">
													<img class="img-fluid" src="images/<%=outOfStockProducts[i].images[0]%>" alt="Colorlib Template">
													<span class="status">Out of Stock</span>
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#"><%=outOfStockProducts[i].productName%></a></h3>
													<div class="d-flex">
															<div class="pricing">
																	<p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">Rs.<%=outOfStockProducts[i].price%></span></p>
															</div>
													</div>
													<div class="bottom-area d-flex px-3">
															<div class="m-auto d-flex">
																	<div style="color: red;">OUT OF STOCK</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					<% } %>
			</div>
		
    		
    		
    		
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
								<li><a<% if(currentPage == 1) { %> disabled<% } %> href="?page=<%= currentPage>1?previous:1 %>">&lt;</a></li>
								<%  for(i=1; i<= totalPages; i++) { %>
									<a href="?page=<%= i %>"><%= i %></a>
								<% } %>
								<li><a<% if(currentPage == totalPages) { %> disabled<% } %> href="?page=<%= currentPage<totalPages? nextone: currentPage %>">&gt;</a></li>
							</ul>
							
							
						
            </div>
          </div>
        </div>
    	</div>
    </section>

		<script>
			function addtocart(productId) {
    event.preventDefault();
    fetch('/addToCart',{
        method:'POST',
        headers:{
            "Content-Type": "application/json"
        },
        body:JSON.stringify({
            productId:productId
        })
    })
    .then(() => {
        let alertMessage = document.createElement("div");
        alertMessage.innerText = "Product has been added to your cart.";
        alertMessage.style.position = "fixed";
        alertMessage.style.top = "10px";
        alertMessage.style.right = "10px";
        alertMessage.style.background = "black";
        alertMessage.style.padding = "10px";
        alertMessage.style.borderRadius = "5px";
        alertMessage.style.zIndex = "9999";
        document.body.appendChild(alertMessage);
        setTimeout(() => {
            alertMessage.style.display = "none";
        }, 3000);
    })
    .catch(error => console.error(error))
}


		</script>

		<%- include('../layouts/user/userfooter.ejs') -%>